body{
	background:#03050a;
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: "tlous";
  src: url('../fonts/CastlePressNo2.ttf');
}
.tlousFont { 
  color:#fff;
  font-size: 4em;
  font-family: "tlous";
  position:absolute; 
  top:-55px;
  right:200px; 
}

header,nav,section,article,aside,footer{
	display:block;
}

div#maior{
	width:90%;
  margin:0 auto;
  padding: 0;
}

header {
  text-align:center;
  margin:auto;
}

header img{  
  object-fit: cover;
  object-position: top;	
}

a:link 
{ 
 text-decoration:none; 
} 

.active{
  color:#2a9e94 !important;
}
.logoTexto{
  width: 103%;
  height:80px; 
  top:0px;
  left: -50px;
  overflow-x: hidden;
  color:#fff;  
  position:absolute;
  opacity: 0.3; 
  background-color: black;
}

@media (min-width: 600px) {
  .logo {
      width:450px;
      height: 190px;
  }
  #menu, #telaprincipal, #rodape {
    width:450px;   
  }
}

@media (min-width: 800px) {
  .logo {
      width:650px;
      height: 230px;
  }
  #menu, #telaprincipal, #rodape {
    width:650px;   
  }
}

@media (min-width: 1000px) {
  .logo {
      width:800px;
      height: 280px;
  }
  #menu, #telaprincipal, #rodape {
    width:800px;   
  }
}

@media (min-width: 1100px) {
  .logo {
      width:900px;
      height: 320px;    
  }
  #menu, #telaprincipal, #rodape {
    width:900px;   
  }
}

@media (min-width: 1200px) {
  .logo {
      width:1000px;
      height: 320px;
  }
  #menu, #telaprincipal, #rodape{
    width:1000px;   
  }
}

@media (min-width: 1300px) {
  .logo {
      width:1100px; 
      height: 330px;
  }
  #menu, #telaprincipal, #rodape {
    width:1100px;   
  }
}

@media (min-width: 1500px) {
  .logo {
      width:1300px;  
      height: 380px;
  }
  #menu, #telaprincipal, #rodape {
    width:1300px;   
  }
}

@media (min-width: 1600px) {
  .logo {
      width:1400px;
      height: 410px;
  }
  #menu, #telaprincipal, #rodape {
    width:1400px;   
  }
}

@media (min-width: 1800px) {
  .logo {
      width:1600px; 
      height: 430px;
  }
  #menu, #telaprincipal, #rodape {
    width:1600px;   
  }
}

@media (min-width: 2000px) {
  .logo {
      width:1800px;   
      height: 480px;
    }
  #menu, #telaprincipal, #rodape {
    width:1800px;   
  }
}

#menu{
	height:55px;
	background:#0c1325;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 0px;
}

#menu li{
	list-style:none;
  display: inline;
}

#menu a{
  padding-left:28px;
	color:#fff;
	font-size:18px;
	font-family:Calibri;
	text-decoration:none;
}

#telaprincipal{
  background-color:#141823;
  height:auto;
  margin:0 auto;
  padding: 0;

}

#rodape{
  height:55px;
	background:#0c1325;
  margin: 0 auto;
  padding-top: 25px;
  font-family:Calibri;
  font-size: 18px;
	color:#fff;
  text-align: center;
}

.trailler{
  color:#fff;
  font-family: Calibri;
  margin-bottom:10px;
  padding-top:20px;
  padding-left:30px;
}

.trailler p{
  padding-top:5px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.review{
  color:#fff;
  font-family: Calibri;
  margin-bottom:10px;

  background-color: #01314a; 
  margin-left: 30px; 
  margin-right: 30px;

  width: 80%;
  margin: 0 auto;

  padding: 20px;

  transition: all 0.1s linear;
}

.review:hover {
  transform: scale(1.02);
}

.review p{
  padding-top: 5px;
}

.game-recomendation{
  width: 60px;
  height: 70px;
  padding-left: 50px;
}

.noticia{
  color:#fff;
  font-family: Calibri;
  margin-bottom:10px;
  padding-top:20px;
  padding-left:30px;
}

.noticia p{
  width:62%;
  padding-top:5px;
}

.plataformas{
  font-family: Calibri;
  color:#2a9e94 !important;
  padding: 250px;
  margin: 0 auto;
  text-align: center;
}


.plataformas div{
  display: inline; 
  width: 30px;
  height: 30px;
  padding: 30px;
  background-color: #fff;
  cursor:pointer;
  font-size:25px;
}

.plataformas div:hover{
  display: inline; 
  width: 30px;
  height: 30px;
  padding: 30px;
  background-color: #2a9e94;
  cursor:pointer;
  color:#fff;
}

.sony{
  display: none;
}

.microsoft{
  display: none;
}

.nintendo{
  display: none;
}

.generos{
  display: none;
}

#aven{
  display: none;
}
#est{
  display: none;
}
#esp{
  display: none;
}
#luta{
  display: none;
}
#terror{
  display: none;
}
#rpg{
  display: none;
}

.justificado{
  text-align: justify;
}

.game-recommendation {
  height: 300px;
  width: 100%;
}

.recommendation-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 40px;
  column-gap: 50px;
}

.game-image {
  width: 100%;
  height: 300px;
  background-position-y: 27%;
  background-position-x: 20%;
}

.game-comment {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: justify;
  font-size: 16pt;
  margin-top: 8pt;
  justify-content: space-between;
}

#lastofus{
  background: url(../imagens/the-last-of-us.jpg);
}

#godofwar{
  background: url(../imagens/god-of-war.jpg);
}

#bloodborne{
  background: url(../imagens/bloodborne.jpg);
}

#minecraft{
  background: url(../imagens/minecraft.jpg);
}

#age{
  background: url(../imagens/age.jpg);
}

#halowars{
  background: url(../imagens/halo.jpg);
}

#zelda{
  background: url(../imagens/zelda.jpg);
}

#luigis{
  background: url(../imagens/luigi.jpg);
}

#pokemon{
  background: url(../imagens/pokemon.jpg);
}

.aspas {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24pt;
  line-height: 16pt;
}

.user {
  display: flex;
  height: 60px;
  flex-direction: row;
  column-gap: 10px;
}

.user-avatar {
  border: 3px solid gray;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name {
  color: #C1DBF4;
  font-weight: bold;
  font-size: 13pt;
}

.user-hours {
  font-size: 10pt;
  color: #8091A2;
}